<!DOCTYPE html>
<html ng-app="karbonPrint">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Karbon Print</title>
  </head>

  <body ng-controller="mainCtrl">

    <div class="parallax top-section">
      <div class="nav" id="myTopnav">
          <a style="float:left">KARBON PRINT</a>
          <a>SEARCH</a>
          <a>ABOUT</a>
          <a>HOME</a>
          <a style="font-size: 15px;" class="nav-icon" ng-click="navFunction()"><i class="fa fa-bars fa-lg"></i></a>
      </div>

      <div ng-repeat="game in games">
        <p> {{ game }} </p>
      </div>

      <div class="search-btn">
        <button type="button" class="search-position" ng-click="modalBtn()">SEARCH HERE</button>
      </div>
    </div>

    <!-- Modal example -->

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" ng-click="span()">Close</span>
        <p>Example of some text placed inside the modal. You can add more if you like...</p>
      </div>
    </div>

    <div class="text-box">Scroll Up and Down this page to see the parallax scrolling effect. This div is just here to enable scrolling. Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>

    <div class="parallax mid-section"></div>

    <div class="text-box">Scroll Up and Down this page to see the parallax scrolling effect. This div is just here to enable scrolling. Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>

    <div class="parallax bottom-section"></div>

    <!-- <ui-view></ui-view> -->
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
  <script src="js/app.js"></script>
  <script src="https://use.fontawesome.com/e388aaaac8.js"></script>
  <script src="js/main-ctrl.js"></script>
  <script src="js/main-service.js"></script>
</html>
